/* Navigation */
.nav {
  justify-content: space-around;
}

.nav__logo {
  height: 2rem;
}

/* .nav__links {

} */

.nav__item {
  margin-left: 1rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--color-font-secondary);
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary-darker);
  color: #fff;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary);
  color: rgb(209, 209, 209);
}
