html {
  font-size: 40%;
}

.section {
  padding: 3rem 1rem;
  border-top: 1px solid #ddd;

  transition: transform 1s, opacity 1s;
}

.nav {
  height: 9rem;
  width: 100%;
  padding: 0 0rem;
}

.nav__logo {
  height: 3rem;
  transition: all 0.3s;
}

.nav__item {
  margin-left: 1.4rem;
}

.features {
  gap: 0.5rem;
  margin: 0 0rem;
}

.features__img {
  width: 100%;
}

.features__icon svg {
  height: 2.5rem;
  width: 2.5rem;
}

.features__header {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.testimonial__header {
  font-weight: 500;
  margin-bottom: 0rem;
}

.testimonial__text {
  margin-bottom: 0rem;
}
