html {
  font-size: 40%;
}

.section {
  padding: 3rem 1rem;
  border-top: 1px solid #ddd;
  font-size: 0.5rem;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 6rem auto;
}

.section__description {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 0.5rem;
}

.section__header {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 500;
}

/* NAV */
.nav {
  height: 9rem;
  width: 100%;
  padding: 0 0rem;
}

.nav__logo {
  height: 3rem;
  transition: all 0.3s;
}

.nav__item {
  margin-left: 1.4rem;
}

/* HEADER */

.header__title {
  display: unset;
}

.features {
  gap: 0.5rem;
  margin: 0 0rem;
}

.features p {
  font-size: 0.5rem;
}

.features__img {
  width: 100%;
}

.features__icon {
  display: none;
}

.features__icon svg {
  display: none;
  height: 2.5rem;
  width: 2.5rem;
}

.features__header {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.testimonial__header {
  font-weight: 500;
  margin-bottom: 0rem;
}

.testimonial__text {
  margin-bottom: 0rem;
}
